<!DOCTYPE html>
<!-- 项目地址：https://github.com/xmx-xmx-xmx-xmx/COVID19_Flask -->
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/js/echarts.min.js"></script>
        <script src="../static/js/china.js"></script>
        <link href="../static/css/main.css", rel="stylesheet"/> <!-- 指定属性 rel="stylesheet" -->
        <link rel="shortcut icon" href="../static/images/favicon.ico"> <!-- 设置icon -->
        <title>COVID-19数据监控</title>
        <style></style>
    </head>
    <body>
        <a href="https://github.com/xmx-xmx-xmx-xmx/COVID19_Flask">
            <img style="position: absolute; top: 0; right: 0; border: 0;" 
            src="http://images2015.cnblogs.com/blog/682661/201612/682661-20161210223653179-1870729401.png"
            alt="Fork me on GitHub" >
            </a>
        <div id="title">
            <div id="title-center">COVID-19数据监控大屏</div>
        </div>
        <div id="leftup">我是左上角</div>
        <div id="rightup">
            <div id="time"></div>
        </div>
        <div id="left1">我是L1</div>
        <div id="left2">我是L2</div>
        <div id="center1">
            <div id="num"><h1>1</h1></div>
            <div id="num"><h1>1</h1></div>
            <div id="num"><h1>1</h1></div>
            <div id="num"><h1>1</h1></div>
            <div id="text"><h2>累计确诊</h2></div>
            <div id="text"><h2>剩余疑似</h2></div>
            <div id="text"><h2>累计治愈</h2></div>
            <div id="text"><h2>累计死亡</h2></div>
        </div>
        <div id="center2">我是center2</div>
        <div id="right1">我是R1</div>
        <div id="right2">我是R2</div>
        <script src="../static/js/ec_center.js"></script>
        <script src="../static/js/ec_left1.js"></script>
        <script src="../static/js/ec_left2.js"></script>
        <script src="../static/js/control.js"></script>
    </body>
    <footer>
        <div id="bottom1">
            <a href="http://beian.miit.gov.cn" style="color: whitesmoke;">
                <div class="bottomtext"><h4>闽ICP备20007465号</h4></div>
            </a>
            <a href="https://github.com/xmx-xmx-xmx-xmx/COVID19_Flask" style="color: whitesmoke;">
                <div class="bottomtext"><h4>GitHub</h4></div>
            </a>
            </div>
    </footer>
</html>