<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- 引用一些js -->
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/js/echarts.min.js"></script>
        <script src="../static/js/china.js"></script>
        <script src="../static/js/echarts-wordcloud.js"></script>
        <link href="../static/css/main.css", rel="stylesheet"/> <!-- 指定属性 rel="stylesheet" -->
        <link rel="shortcut icon" href="../static/images/favicon.ico"> <!-- 设置icon -->
        <title>COVID-19数据监控</title>
        <style></style>
        
    </head>
    <body>
        <div id="title">
            <div id="title-center">新型冠状病毒肺炎实时数据监控</div>
        </div>
        <div id="rightup">
            <div id="time"></div>
        </div>

        <div id="left1"></div>
        <div id="left2"></div>
        <div id="center1">
            <div id="num"><h1></h1></div>
            <div id="num"><h1></h1></div>
            <div id="num"><h1></h1></div>
            <div id="num"><h1></h1></div>
            <div id="text"><h2>累计确诊</h2></div>
            <div id="text"><h2>现有疑似</h2></div>
            <div id="text"><h2>累计治愈</h2></div>
            <div id="text"><h2>累计死亡</h2></div>
        </div>
        <div id="center2"></div>
        <div id="right1"></div>
        <script src="../static/js/ec_center.js"></script>
        <script src="../static/js/ec_left1.js"></script>
        <script src="../static/js/ec_left2.js"></script>
        <script src="../static/js/ec_right1.js"></script>
        <script src="../static/js/control.js"></script>
    </body>
    <footer>
        <div id="bottom1">
            <!-- 底部关于信息 -->
            <a href="http://beian.miit.gov.cn" style="color: whitesmoke;">
                <div class="bottomtext"><h4>闽ICP备20007465号</h4></div>
            </a>
            </div>
    </footer>
</html>